<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>brAInrot Music Finder</title>
</head>
<body>
    <header>
        <h1>brAInrot Music Finder</h1>
    </header>
    <main>
        <form action="/upload" method="POST" enctype="multipart/form-data" id="upload-form">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lg" onclick="document.getElementById('video-file').click();">
                    <i class="fa fa-file-plus mr-1"></i> Upload Video
                </button>
                <input type="file" id="video-file" name="video" accept="video/*" required style="display: none;" onchange="document.getElementById('upload-form').submit();">
            </div>
        </form>
        {% if video_url %}
        <h2>Uploaded Video:</h2>
        <video class="responsive-video" controls>
            <source src="{{ video_url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h2>Video Description:</h2>
        <p class="description-box">{{ description }}</p>
        {% endif %}
        
        {% if top_5_music_images %}
        <h2>Top 5 Songs:</h2>
        <div class="top-songs">
            {% for index, song in enumerate(top_5_music_images) %}
            <div class="song-box">
                <div class="song-title">
                    <h3>{{ index + 1 }}. {{ song.SongTitle }}</h3>
                </div>
                <div class="song-thumbnail">
                    <a href="{{ song.URL }}" target="_blank">
                        <img src="data:image/png;base64,{{ song.Thumbnail }}" alt="Song Image">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2023 brAInrot Music Finder</p>
    </footer>
</body>
</html>